<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/header') %>
    <div style="margin-top: 80px" class="container">
      <h1 class="text-center">Create new blogs</h1>
      <div
        class="form-container"
        style="max-width: 70%; margin: 3rem auto; padding: 20px"
      >
        <form action="/api/blogs" method="POST">
          <!-- Name input -->
          <div class="form-outline mb-4">
            <input
              type="text"
              id="form4Example1"
              name="title"
              class="form-control"
            />
            <label class="form-label" for="form4Example1">Title</label>
          </div>

          <!-- Email input -->
          <div class="form-outline mb-4">
            <textarea
              name="snippet"
              class="form-control"
              id="form4Example2"
              rows="2"
            ></textarea>
            <label class="form-label" for="form4Example2">Snippet</label>
          </div>

          <!-- Message input -->
          <div class="form-outline mb-4">
            <textarea
              name="body"
              class="form-control"
              id="form4Example3"
              rows="4"
            ></textarea>
            <label class="form-label" for="form4Example3">Message</label>
          </div>

          <!-- Checkbox -->
          <div class="form-check d-flex justify-content-center mb-4">
            <input
              class="form-check-input me-2"
              type="checkbox"
              value=""
              id="form4Example4"
              checked
            />
            <label class="form-check-label" for="form4Example4">
              Send me a copy of this message
            </label>
          </div>

          <!-- Submit button -->
          <div style="max-width: 40%; margin: 0 auto">
            <button type="submit" class="btn btn-primary btn-block mb-4">
              Create Blog
            </button>
          </div>
        </form>
      </div>
    </div>
    <%- include('../partials/foot') %>
  </body>
</html>
