<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/header') %>
    <div style="margin-top: 80px" class="container">
      <h1 class="text-center">Home page</h1>
    </div>
    <%- include('../partials/foot') %>
  </body>
</html>
