<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/header') %>
    <div class="container">
      <a href="/blog/add">Add new Blog</a>
      <a href="/blog/get-all">Get all Blog</a>
      <a href="/blog/get-all">Get one Blog by ID</a>
    </div>
  </body>
</html>
